@model EditUserGetModel
@{
    ViewData["Title"] = "Modifica " + Model.User.Username;
}
<div id="explorerLink">
    <a asp-controller="User" asp-action="Index">Utenti</a>&nbsp;&nbsp;&gt;&nbsp;&nbsp;<a asp-controller="User" asp-action="Details" asp-route-id="@Model.User.Id">@Model.User.Username</a>&nbsp;&nbsp;&gt;&nbsp;&nbsp;Modifica
</div>
<h2>Modifica Utente</h2>
<br />
<div asp-if="Model.Error != 0">
    <label class="error_lbl" asp-if="Model.Error == 1">Errore durante la procedura di modifica, controllare di aver inserito tutti i dati richiesti in modo corretto.</label>
    <label class="error_lbl" asp-if="Model.Error == 2">Errore, questo utente risulta già inserito.</label>
    <label class="error_lbl" asp-if="Model.Error == 3">Errore, le due password non coincidono.</label>
</div>
<form asp-antiforgery="true" asp-controller="User" asp-action="Edit" asp-route-id="@Model.User.Id" autocomplete="off" style="width:350px;">
    <label style="margin-top:15px;">Nome:</label>
    <input type="text" name="name" value="@Model.User.Name" />
    <br />
    <label style="margin-top:15px;">Cognome:</label>
    <input type="text" name="surname" value="@Model.User.Surname" />
    <br />
    <label style="margin-top:15px;">Email:</label>
    <input type="email" name="email" value="@Model.User.Email" />
    <br />
    <label style="margin-top:15px;">Password:</label>
    <input type="password" name="password" value="" />
    <br />
    <label style="margin-top:15px;">Conferma Password:</label>
    <input type="password" name="confPassword" value="" />
    <br />
    <br />
    <br />
    <input type="submit" value="Modifica" />
</form>