@model IndexUserModel
@{
    ViewData["Title"] = "Utenti";

    var user = (User)Context.Items["User"]; 
}
<div id="explorerLink">
    Utenti
</div>
<h1>Utenti</h1>
<br />
<table class="table">
    <tr style="font-weight:bold;">
        <td>Username</td>
        <td>Nome</td>
        <td>Cognome</td>
        <td>Email</td>
        <td>Ruolo</td>
        <td>Azioni</td>
    </tr>
    @foreach (var u in Model.Users)
    {
        <tr class="@(u.Ban ? "ban" : "")">
            <td style="text-align:center"><a asp-controller="User" asp-action="Details" asp-route-id="@u.Id">@u.Username</a></td>
            <td>@u.Name</td>
            <td>@u.Surname</td>
            <td>@u.Email</td>
            <td>@u.Role.Name</td>
            <td>
                <span><a asp-controller="User" asp-action="ToggleBan" asp-route-id="@u.Id">@(!u.Ban ? "Blocca" : "Consenti")</a></span>
                <span><a asp-controller="User" asp-action="Edit" asp-route-id="@u.Id">Modifica</a></span>
            </td>
        </tr>
    }
</table>
<div>
    <a asp-controller="User" asp-action="New"><input type="button" value="Nuovo" /></a>
</div>