@model DetailsLicenseModel
@{
    ViewData["Title"] = "Dettagli Licenza";
}
<div id="explorerLink">
    <a asp-controller="License" asp-action="Index">License</a>&nbsp;&nbsp;&gt;&nbsp;&nbsp;@Model.License.ProductKey.Key
</div>
<h2>Dettagli Licenza</h2>
<br />
<div asp-if="Model.Error != 0">
    <label class="error_lbl" asp-if="Model.Error == 1">Errore, productkey non generato.</label>
    <label class="error_lbl" asp-if="Model.Error == 2">Errore, codice di richiesta già associato.</label>
    <label class="error_lbl" asp-if="Model.Error == 3">Errore, codice di richiesta non ancora associato.</label>
</div>
<div class="content">
    <label class="title">Stato:</label>
    <label class="val license@(Model.License.Active ? "A" : "I")">@(Model.License.Active ? "Attiva" : "Inattiva")</label>
    <br />
    <label class="title">Permesso:</label>
    <label class="val license@(Model.License.Banned ? "B" : "A")">@(Model.License.Banned ? "Bloccato" : "Consetito")</label>
    <br />
    <label class="title">Data Attivazione:</label>
    <label class="val">@(Model.License.ActivateDateTime == null ? "--" : ((DateTime)(Model.License.ActivateDateTime)).ToString("dd/MM/yyyy HH:mm"))</label>
    <br />
    <label class="title">Data Rilascio:</label>
    <label class="val">@Model.License.ReleaseDate.ToString("dd/MM/yyyy HH:mm")</label>
    <br />
    <div style="margin: 20px 0px;">
        <h4>ProductKey</h4>
        <label class="title">Key:</label>
        <label class="val productkey">@Model.License.ProductKey.Key</label>
        <input type="button" value="Copia" class="clipboard" style="margin-right: 100px; height: 30px; float: right;" data-clipboard-text="@Model.License.ProductKey.Key" />
        <br />
        <label class="title">Tipo:</label>
        <label class="val">@(Model.License.ProductKey.Type.ToString())</label>
        <br />
        <label class="title">Rilasciato Da:</label>
        <label class="val">@Model.License.ProductKey.GenerateUser.Username</label>
        <br />
        <label class="title">Data di rilascio:</label>
        <label class="val">@Model.License.ProductKey.GenerateDateTime.ToString("dd/MM/yyyy HH:mm")</label>
        <br />
    </div>
    <div style="margin: 20px 0px;">
        <h4>Request Code (HID)</h4>
        <label class="title">Code:</label>
        <label class="val" style="font-family: OpenSansBold; font-size: 16px;">@(Model.License.Hid == null ? "--" : Model.License.Hid.Value)</label>
        <a asp-if="Model.License.Hid == null" class="btn" asp-controller="License" asp-action="AddRequestCode" asp-route-id="@Model.License.Id" style="margin-right: 100px; height: 30px; float: right;">Aggiungi</a>
        <a asp-if="Model.License.Hid != null" class="btn" asp-controller="License" asp-action="EditRequestCode" asp-route-id="@Model.License.Id" style="margin-right: 100px; height: 30px; float: right;">Modifica</a>
        <br />
        <label class="title">Rilasciato Da:</label>
        <label class="val">@((Model.License.Hid == null) ? "--" :(Model.License.Hid.AddedUser.Username))</label>
        <br />
        <label class="title">Data di rilascio:</label>
        <label class="val">@((Model.License.Hid == null) ? "--" : Model.License.Hid.Timestamp.ToString("dd/MM/yyyy HH:mm"))</label>
        <br />
    </div>
    <div style="margin: 20px 0px;">
        <h4>Confirm Code</h4>
        <label class="title">Code:</label>
        <label class="val" style="font-family: OpenSansBold; font-size: 16px; max-width: 325px; display: inline-block; word-wrap: break-word; vertical-align: top;">@(!string.IsNullOrEmpty(Model.License.ConfirmCode) ? Model.License.ConfirmCode : "--")</label>
        <input asp-if="!string.IsNullOrEmpty(Model.License.ConfirmCode)" type="button" class="clipboard" value="Copia" style="margin-right: 100px; height: 30px; float: right;" data-clipboard-text="@Model.License.ConfirmCode" />
    </div>
    <div style="margin: 20px 0px;">
        <h4>Applicazione</h4>
        <label class="title">Codice:</label>
        <label class="val">@Model.License.ApplicationVersion.Application.Code</label>
        <br />
        <label class="title">Nome:</label>
        <label class="val">@Model.License.ApplicationVersion.Application.Name</label>
        <br />
        <label class="title">Versione:</label>
        <label class="val">@Model.License.ApplicationVersion.Version</label>
        <br />
        <label class="title">Rilascio versione:</label>
        <label class="val">@Model.License.ApplicationVersion.ReleaseDate.ToString("dd/MM/yyyy")</label>
    </div>
    <div style="margin: 20px 0px;">
        <h4>Cliente</h4>
        <label class="title">Codice:</label>
        <label class="val">@Model.License.Client.Code</label>
        <br />
        <label class="title">Nome:</label>
        <label class="val">@Model.License.Client.Name</label>
        <br />
        <label class="title">P. I.V.A:</label>
        <label class="val">@Model.License.Client.VAT</label>
        <br />
    </div>
    <br />
    <br />
    <a asp-if="@(!Model.License.Active)" class="btn" asp-controller="License" asp-action="OfflineActivation" asp-route-id="@Model.License.Id">Attivazione Offline</a>
</div>