@model IndexLicenseModel
@{
    var title = (Model.ApplicationVersion == null) ? "Licenze" : Model.ApplicationVersion.Application.Name + " " + Model.ApplicationVersion.Version + " - Licenze";

    ViewData["Title"] = title;
}
<h2>@title</h2>
<br />
<table class="table">
    <tr>
        <td>ProductKey</td>
        <td>Stato</td>
        <td>Data Rilascio</td>
        <td>Data Attivazione</td>
        <td>Azioni</td>
    </tr>
    @foreach (var l in Model.Licenses)
    {
        <tr>
            <td style="text-align:center"><a asp-controller="" asp-action="" asp-route-id="">@l.ProductKey</a></td>
            <td>@(l.Activate ? "Attiva" : "Inattiva")</td>
            <td>@l.ReleaseDate.ToString("dd/MM/yyyy HH:mm")</td>
            <td>@(l.ActivateDateTime == null ? "-" : ((DateTime)l.ActivateDateTime).ToString("dd/MM/yyyy HH:mm"))</td>
            <td>
                <span><a asp-controller="License" asp-action="Delete" asp-route-id="@l.Id">Rimuovi</a></span>
                <span><a asp-controller="License" asp-action="Edit" asp-route-id="@l.Id">Modifica</a></span>
            </td>
        </tr>
    }
    <tr asp-if="Model.Licenses.Count == 0">
        <td colspan="5" style="text-align:center">Nessuna licenza presente</td>
    </tr>
</table>
