@model IndexLicenseModel
@{
    ViewData["Title"] = "Licenze";
}
<div id="explorerLink">
    Licenze
</div>
<h2>Licenze</h2>
<br />
<table class="table">
    <tr style="font-weight:bold;">
        <td>ProductKey</td>
        <td>Data Rilascio</td>
        <td>Stato</td>
        <td>Data Attivazione</td>
        <td>Azioni</td>
    </tr>
    @foreach (var l in Model.Licenses)
    {
        <tr>
            <td style="text-align:center"><a asp-controller="License" asp-action="Details" asp-route-id="@l.Id">@l.ProductKey.Key</a></td>
            <td>@l.ReleaseDate.ToString("dd/MM/yyyy HH:mm")</td>
            <td class="license@(Enum.GetName(typeof(License.LicenseState), l.State))">@(l.State == License.LicenseState.Inactive ? "Inattiva" : ((l.State == License.LicenseState.Active) ? "Attiva" : "Bloccata"))</td>
            <td>@(l.ActivateDateTime == null ? "-" : ((DateTime)l.ActivateDateTime).ToString("dd/MM/yyyy HH:mm"))</td>
            <td>
                <span><a asp-controller="License" asp-action="Edit" asp-route-id="@l.Id">Modifica</a></span>
                <span><a asp-if="@(l.State == License.LicenseState.Inactive)" asp-controller="License" asp-action="Delete" asp-route-id="@l.Id">Rimuovi</a></span>
            </td>
        </tr>
    }
    <tr asp-if="Model.Licenses.Count == 0">
        <td colspan="5" style="text-align:center">Nessuna licenza presente</td>
    </tr>
</table>
<br />
<div>
    <a asp-action="New" asp-controller="License"><input type="button" value="Nuova" /></a>
</div>
