@model IndexLicenseGetModel
@{
    ViewData["Title"] = "Licenze";
}
<div id="explorerLink">
    Licenze
</div>
<h2>Licenze</h2>
<br />
<div asp-if="Model.Error != 0">
    <label class="error_lbl" asp-if="Model.Error == 1">Errore, licenza inesistente.</label>
</div>
<div class="actionLinks">
    <a asp-action="New" asp-controller="License">Nuova</a>
    <label for="searchBar" style="width: 60px;">Cerca:</label>
    <input type="text" id="txtSearch" value="" style="margin: 0 !important; width: 200px;" placeholder="Productkey, Cliente, Data" onkeyup="filterSearch(event)" autocomplete="off" autofocus />
</div>
<table class="table">
    <tr style="font-weight:bold;">
        <td style="width:180px;">ProductKey</td>
        <td style="width:50px;">Tipo</td>
        <td style="width:135px;">Cliente</td>
        <td style="width:100px;">Data Rilascio</td>
        <td style="width:75px;">Stato</td>
        <td style="width:100px;">Data Attivazione</td>
        <td style="width:82px;">Permesso</td>
        <td style="width:70px;">Attività</td>
        <td>Azioni</td>
    </tr>
    @foreach (var l in Model.Licenses)
    {
        var pk = new TTLL.Models.ProductKey(l.ProductKey.Key);
        bool exp = false;
        if (l.Active)
        {
            var sum = ((DateTime)l.ActivationDateTimeUtc).AddHours(pk.HoursDuration);
            exp = (pk.HoursDuration == 0) ? false : ((DateTime.UtcNow > sum) ? true : false);
        }
        var llo = Model.LastLogs.Where(ll => (ll.License != null && ll.License.Id == l.Id)).FirstOrDefault();
        var resll = 0;
        var title = "Nessuna attività registrata";
        if (llo != null)
        {
            resll = llo.DateTimeUtc < DateTime.UtcNow.AddMinutes(-60) ? 1 : llo.DateTimeUtc < DateTime.UtcNow.AddMinutes(-30) ? 2 : 3;
            TimeSpan missing = DateTime.UtcNow - llo.DateTimeUtc;
            if (missing.TotalMinutes > 1380)
            {
                var d = (int)Math.Round(missing.TotalDays);
                title = "Ultima attività registrata " + ((d == 1) ? "1 giorno" : d.ToString() + " giorni");
            }
            else if (missing.TotalMinutes > 59)
            {
                var h = (int)Math.Round(missing.TotalHours);
                title = "Ultima attività registrata " + ((h == 1) ? "1 ora" : h.ToString() + " ore");
            }
            else if (missing.TotalMinutes >= 2)
            {
                title = "Ultima attività registrata " + ((int)Math.Round(missing.TotalMinutes)).ToString() + " minuti";
            }
            else
            {
                title = "Attualmente attivo";
            }
        }
        var stringt = (l.ActivationDateTimeUtc == null) ? "-" : ((DateTime)l.ActivationDateTimeUtc).ToDateTimeCE().ToString("dd/MM/yy") + "<br />" + ((DateTime)l.ActivationDateTimeUtc).ToDateTimeCE().ToString("HH:mm");
        var typet = (l.ProductKey.Type == ProductKey.PKType.Normal) ? "N" : ((l.ProductKey.Type == ProductKey.PKType.Time) ? "T" : "P");
        <tr id="k_@l.ProductKey.Key" class="@(l.Banned ? "ban" : "")">
            <td class="justify" style="font-size: 12px; font-weight: bold;"><a asp-controller="License" asp-action="Details" asp-route-id="@l.Id">@l.ProductKey.Key.Insert(18, "\r")</a></td>
            <td style="text-align:center; font-size: 12px; font-weight: bold;">@typet</td>
            <td style="font-size: 13px;">@l.Client.Name</td>
            <td style="font-size: 11px;">@l.TimestampDateTimeUtc.ToDateTimeCE().ToString("dd/MM/yy")<br />@l.TimestampDateTimeUtc.ToDateTimeCE().ToString("HH:mm")</td>
            <td style="font-size: 13px;" class="license@((!l.Active) ? "I" : (exp ? "S" : "A"))">@((!l.Active) ? "Pronta" : (exp ? "Scaduta" : "Attiva"))</td>
            <td style="font-size: 11px;">@Html.Raw(stringt)</td>
            <td style="text-align: center; font-size: 13px;" class="license@(l.Banned ? "B" : "A")">@(l.Banned ? "NO" : "SI")</td>
            <td style="text-align: center;"><span title="@title" style="vertical-align: middle;" class="led @(resll == 0 ? "black" : resll == 1 ? "red" : resll == 2 ? "orange" : "green")"></span></td>
            <td style="text-align: right;">
                <span asp-if="@(!l.Banned)"><a asp-controller="License" asp-action="Ban" asp-route-id="@l.Id">Blocca</a></span>
                <span asp-if="@(l.Banned)"><a asp-controller="License" asp-action="Restore" asp-route-id="@l.Id">Consenti</a></span>
                <span><a asp-controller="License" asp-action="Delete" asp-route-id="@l.Id">Rimuovi</a></span>
            </td>
        </tr>
    }
    <tr asp-if="Model.Licenses.Count == 0">
        <td colspan="5" style="text-align:center">Nessuna licenza presente</td>
    </tr>
</table>
<br />
<div>
    <a asp-action="New" asp-controller="License"><input type="button" value="Nuova" /></a>
</div>

@section Scripts{
    <script class="inject-json" data-name="licenses" type="application/json">
        @Html.Raw(JsonConvert.SerializeObject(Model.Licenses))
    </script>
    <script type="text/javascript">

        function filterSearch(e) {
            var val = e.currentTarget.value;
            //var rep = val.replace(/[A-Za-z]/g, "");
            $("#txtSearch").val(val);
            var words = val.split(' ');
            for (var i = 0; i < words.length; i++) {
                var word = words[i].toLowerCase();
                $(licenses).each(function (index, item) {
                    var bcC = item.ProductKey.Key.toString().toLowerCase();
                    var artC = item.Client.Name.toString().toLowerCase();
                    var dt = new Date(item.TimestampDateTimeUtc);
                    var data = dt.format("dd/mm/yyyy");
                    if (i == 0) {
                        if ((bcC.indexOf(word) >= 0) || (artC.indexOf(word) >= 0) || (data.indexOf(word) >= 0)) {
                            $("#k_" + item.ProductKey.Key.toString()).css("display", "");
                        } else {
                            $("#k_" + item.ProductKey.Key.toString()).css("display", "none");
                        }
                    } else {
                        if ($("#k_" + item.ProductKey.Key.toString()).css("display") != "none") {
                            if ((bcC.indexOf(word) >= 0) || (artC.indexOf(word) >= 0) || (data.indexOf(word) >= 0)) {
                                $("#k_" + item.ProductKey.Key.toString()).css("display", "");
                            } else {
                                $("#k_" + item.ProductKey.Key.toString()).css("display", "none");
                            }
                        }
                    }
                });
            }
        }

    </script>
}