@model IndexLicenseModel
@{
    ViewData["Title"] = "Licenze";
}
<div id="explorerLink">
    Licenze
</div>
<h2>Licenze</h2>
<br />
<div asp-if="Model.Error != 0">
    <label class="error_lbl" asp-if="Model.Error == 1">Errore, licenza inesistente.</label>
    <label class="error_lbl" asp-if="Model.Error == 2">Impossibile cancellare un licenza attiva.</label>
</div>
<table class="table">
    <tr style="font-weight:bold;">
        <td>ProductKey</td>
        <td>Data Rilascio</td>
        <td>Stato</td>
        <td>Data Attivazione</td>
        <td>Azioni</td>
    </tr>
    @foreach (var l in Model.Licenses)
    {
        <tr class="@(l.Banned ? "ban" : "")">
            <td style="text-align:center"><a asp-controller="License" asp-action="Details" asp-route-id="@l.Id">@l.ProductKey.Key</a></td>
            <td style="text-align:center">@l.ReleaseDate.ToString("dd/MM/yyyy HH:mm")</td>
            <td class="license@(l.Active ? "A" : "I")">@(l.Active ? "Attiva" : "Inattiva")</td>
            <td style="text-align:center">@(l.ActivateDateTime == null ? "-" : ((DateTime)l.ActivateDateTime).ToString("dd/MM/yyyy HH:mm"))</td>
            <td>
                <span asp-if="@(!l.Banned)"><a asp-controller="License" asp-action="Ban" asp-route-id="@l.Id">Blocca</a></span>
                <span asp-if="@(l.Banned)"><a asp-controller="License" asp-action="Restore" asp-route-id="@l.Id">Sblocca</a></span>
                <span asp-if="@(!l.Banned && !l.Active)" ><a asp-controller="License" asp-action="Delete" asp-route-id="@l.Id">Rimuovi</a></span>
            </td>
        </tr>
    }
    <tr asp-if="Model.Licenses.Count == 0">
        <td colspan="5" style="text-align:center">Nessuna licenza presente</td>
    </tr>
</table>
<br />
<div>
    <a asp-action="New" asp-controller="License"><input type="button" value="Nuova" /></a>
</div>
