@model VersionLicensesModel
@{
    ViewData["Title"] = "Versioni Applicazione";
}
<div id="explorerLink">
    <a asp-controller="Application" asp-action="Index">Applicazioni</a>&nbsp;&nbsp;&gt;&nbsp;&nbsp;<a asp-controller="Application" asp-action="Versions" asp-route-id="@Model.ApplicationVersion.Application.Id">@Model.ApplicationVersion.Application.Name</a>&nbsp;&nbsp;&gt;&nbsp;&nbsp;@Model.ApplicationVersion.Version
</div>
<h2>@Model.ApplicationVersion.Application.Name @Model.ApplicationVersion.Version - Licenze</h2>
<br />
<div asp-if="Model.Error != 0">
    <label class="error_lbl" asp-if="Model.Error == 1">Errore, licenza inesistente.</label>
</div>
<table class="table">
    <tr style="font-weight:bold;">
        <td>ProductKey</td>
        <td>Tipo</td>
        <td>Data Rilascio</td>
        <td>Stato</td>
        <td>Data Attivazione</td>
        <td>Permesso</td>
        <td>Attività</td>
        <td>Azioni</td>
    </tr>
    @foreach (var l in Model.Licenses)
    {
        var pk = new TTLL.Models.ProductKey(l.ProductKey.Key);
        bool exp = false;
        if (l.Active)
        {
            var sum = ((DateTime)l.ActivationDateTimeUtc).AddHours(pk.HoursDuration);
            exp = (pk.HoursDuration == 0) ? false : ((DateTime.UtcNow > sum) ? true : false);
        }
        var llo = Model.LastLogs.Where(ll => ll.License.Id == l.Id).FirstOrDefault();
        var resll = 0;
        var title = "Nessuna attività registrata";
        if (llo != null)
        {
            resll = llo.DateTimeUtc < DateTime.UtcNow.AddMinutes(-60) ? 1 : llo.DateTimeUtc < DateTime.UtcNow.AddMinutes(-30) ? 2 : 3;
            TimeSpan missing = DateTime.UtcNow - llo.DateTimeUtc;
            if (missing.TotalMinutes > 1380)
            {
                var d = (int)Math.Round(missing.TotalDays);
                title = "Ultima attività registrata " + ((d == 1) ? "1 giorno" : d.ToString() + " giorni");
            }
            else if (missing.TotalMinutes > 59)
            {
                var h = (int)Math.Round(missing.TotalHours);
                title = "Ultima attività registrata " + ((h == 1) ? "1 ora" : h.ToString() + " ore");
            }
            else if (missing.TotalMinutes >= 2)
            {
                title = "Ultima attività registrata " + ((int)Math.Round(missing.TotalMinutes)).ToString() + " minuti";
            }
            else
            {
                title = "Attualmente attivo";
            }
        }
        <tr class="@(l.Banned ? "ban" : "")">
            <td style="text-align:center; font-size: 12px;"><a asp-controller="License" asp-action="Details" asp-route-id="@l.Id">@l.ProductKey.Key</a></td>
            <td style="text-align:center; font-size: 13px;">@l.ProductKey.Type.ToString()</td>
            <td style="text-align:center; font-size: 11px;">@l.TimestampDateTimeUtc.ToDateTimeCE().ToString("dd/MM/yy HH:mm")</td>
            <td style="font-size: 13px;" class="license@((!l.Active) ? "I" : (exp ? "S" : "A"))">@((!l.Active) ? "Pronta" : (exp ? "Scaduta" : "Attiva"))</td>
            <td style="text-align:center; font-size: 11px;">@(l.ActivationDateTimeUtc == null ? "-" : ((DateTime)l.ActivationDateTimeUtc).ToDateTimeCE().ToString("dd/MM/yy HH:mm"))</td>
            <td style="font-size: 13px;" class="license@(l.Banned ? "B" : "A")">@(l.Banned ? "Bloccato" : "Consetito")</td>
            <td style="text-align: center;"><span title="@title" style="vertical-align: middle;" class="led @(resll == 0 ? "black" : resll == 1 ? "red" : resll == 2 ? "orange" : "green")"></span></td>
            <td>
                <span asp-if="@(!l.Banned)"><a asp-controller="License" asp-action="Ban" asp-route-id="@l.Id" asp-route-mod="1">Blocca</a></span>
                <span asp-if="@(l.Banned)"><a asp-controller="License" asp-action="Restore" asp-route-id="@l.Id" asp-route-mod="1">Sblocca</a></span>
                <span><a asp-controller="License" asp-action="Delete" asp-route-id="@l.Id" asp-route-mod="1">Rimuovi</a></span>
            </td>
        </tr>
    }
    <tr asp-if="Model.Licenses.Count == 0">
        <td colspan="8" style="text-align:center">Nessuna licenza presente</td>
    </tr>
</table>
<br />
<div>
    <a asp-action="PrecompiledNew" asp-controller="License" asp-route-id="@Model.ApplicationVersion.Id"><input type="button" value="Nuova" /></a>
</div>