@model ApplicationLicensesModel
@{
    ViewData["Title"] = Model.ApplicationVersion.Application.Name + " " + Model.ApplicationVersion.Version + " - Licenze";
}
<div id="explorerLink">
    <a asp-controller="Application" asp-action="Index">Applicazioni</a>&nbsp;&nbsp;&gt;&nbsp;&nbsp;<a asp-controller="Application" asp-action="Versions" asp-route-id="@Model.ApplicationVersion.Application.Id">@Model.ApplicationVersion.Application.Name</a>&nbsp;&nbsp;&gt;&nbsp;&nbsp;@Model.ApplicationVersion.Version
</div>
<h2>@Model.ApplicationVersion.Application.Name @Model.ApplicationVersion.Version - Licenze</h2>
<br />
<table class="table">
    <tr>
        <td>ProductKey</td>
        <td>Stato</td>
        <td>Data Rilascio</td>
        <td>Data Attivazione</td>
        <td>Azioni</td>
    </tr>
    @foreach (var l in Model.Licenses)
    {
        <tr>
            <td style="text-align:center"><a asp-controller="" asp-action="" asp-route-id="">@l.ProductKey</a></td>
            <td>@(l.Activate ? "Attiva" : "Inattiva")</td>
            <td>@l.ReleaseDate.ToString("dd/MM/yyyy HH:mm")</td>
            <td>@(l.ActivateDateTime == null ? "-" : ((DateTime)l.ActivateDateTime).ToString("dd/MM/yyyy HH:mm"))</td>
            <td>
                <span><a asp-controller="License" asp-action="Delete" asp-route-id="@l.Id">Rimuovi</a></span>
                <span><a asp-controller="License" asp-action="Edit" asp-route-id="@l.Id">Modifica</a></span>
            </td>
        </tr>
    }
    <tr asp-if="Model.Licenses.Count == 0">
        <td colspan="5" style="text-align:center">Nessuna licenza presente</td>
    </tr>
</table>
