@model VersionLicensesModel
@{
    ViewData["Title"] = Model.ApplicationVersion.Application.Name + " " + Model.ApplicationVersion.Version + " - Licenze";
}
<div id="explorerLink">
    <a asp-controller="Application" asp-action="Index">Applicazioni</a>&nbsp;&nbsp;&gt;&nbsp;&nbsp;<a asp-controller="Application" asp-action="Versions" asp-route-id="@Model.ApplicationVersion.Application.Id">@Model.ApplicationVersion.Application.Name</a>&nbsp;&nbsp;&gt;&nbsp;&nbsp;@Model.ApplicationVersion.Version
</div>
<h2>@Model.ApplicationVersion.Application.Name @Model.ApplicationVersion.Version - Licenze</h2>
<br />
<table class="table">
    <tr style="font-weight:bold;">
        <td>ProductKey</td>
        <td>Data Rilascio</td>
        <td>Stato</td>
        <td>Data Attivazione</td>
        <td>Azioni</td>
    </tr>
    @foreach (var l in Model.Licenses)
    {
        <tr>
            <td style="text-align:center"><a asp-controller="License" asp-action="Details" asp-route-id="@l.Id">@l.ProductKey.Key</a></td>
            <td>@l.ReleaseDate.ToString("dd/MM/yyyy HH:mm")</td>
            <td style="color: @(l.Activate ? "green" : "red");">@(l.Activate ? "Attiva" : "Inattiva")</td>
            <td>@(l.ActivateDateTime == null ? "-" : ((DateTime)l.ActivateDateTime).ToString("dd/MM/yyyy HH:mm"))</td>
            <td>
                <span><a asp-controller="License" asp-action="Delete" asp-route-id="@l.Id">Rimuovi</a></span>
                <span><a asp-controller="License" asp-action="Edit" asp-route-id="@l.Id">Modifica</a></span>
            </td>
        </tr>
    }
    <tr asp-if="Model.Licenses.Count == 0">
        <td colspan="5" style="text-align:center">Nessuna licenza presente</td>
    </tr>
</table>
<br />
<div>
    <a asp-action="PrecompiledNew" asp-controller="License" asp-route-id="@Model.ApplicationVersion.Id"><input type="button" value="Nuova" /></a>
</div>