@model VersionLicensesModel
@{
    ViewData["Title"] = Model.ApplicationVersion.Application.Name + " " + Model.ApplicationVersion.Version;
}
<div id="explorerLink">
    <a asp-controller="Application" asp-action="Index">Applicazioni</a>&nbsp;&nbsp;&gt;&nbsp;&nbsp;<a asp-controller="Application" asp-action="Versions" asp-route-id="@Model.ApplicationVersion.Application.Id">@Model.ApplicationVersion.Application.Name</a>&nbsp;&nbsp;&gt;&nbsp;&nbsp;@Model.ApplicationVersion.Version
</div>
<h2>@Model.ApplicationVersion.Application.Name @Model.ApplicationVersion.Version</h2>
<br />
<div asp-if="Model.Error != 0">
    <label class="error_lbl" asp-if="Model.Error == 1">Errore, licenza inesistente.</label>
    <label class="error_lbl" asp-if="Model.Error == 2">Impossibile cancellare un licenza attiva.</label>
</div>
<table class="table">
    <tr style="font-weight:bold;">
        <td>ProductKey</td>
        <td>Tipo</td>
        <td>Data Rilascio</td>
        <td>Stato</td>
        <td>Data Attivazione</td>
        <td>Permesso</td>
        <td>Azioni</td>
    </tr>
    @foreach (var l in Model.Licenses)
    {
        var pk = new TTLL.Models.ProductKey(l.ProductKey.Key);
        var sum = ((DateTime)(l.ActivateDateTime)).AddHours(pk.HoursDuration);
        var exp = (pk.HoursDuration == 0) ? false : ((!l.Active) ? false : ((DateTimeCE.Now > sum) ? true : false));
        <tr class="@(l.Banned ? "ban" : "")">
            <td style="text-align:center"><a asp-controller="License" asp-action="Details" asp-route-id="@l.Id">@l.ProductKey.Key</a></td>
            <td style="text-align:center">@l.ProductKey.Type.ToString()</td>
            <td style="text-align:center">@l.ReleaseDate.ToString("dd/MM/yyyy HH:mm")</td>
            <td class="license@((!l.Active) ? "I" : (exp ? "S" : "A"))">@((!l.Active) ? "Pronta" : (exp ? "Scaduta" : "Attiva"))</td>
            <td style="text-align:center">@(l.ActivateDateTime == null ? "-" : ((DateTime)l.ActivateDateTime).ToString("dd/MM/yyyy HH:mm"))</td>
            <td class="license@(l.Banned ? "B" : "A")">@(l.Banned ? "Bloccato" : "Consetito")</td>
            <td>
                <span asp-if="@(!l.Banned)"><a asp-controller="License" asp-action="Ban" asp-route-id="@l.Id" asp-route-mod="1">Blocca</a></span>
                <span asp-if="@(l.Banned)"><a asp-controller="License" asp-action="Restore" asp-route-id="@l.Id" asp-route-mod="1">Sblocca</a></span>
                <span asp-if="@(!l.Banned && !l.Active)"><a asp-controller="License" asp-action="Delete" asp-route-id="@l.Id" asp-route-mod="1">Rimuovi</a></span>
            </td>
        </tr>
    }
    <tr asp-if="Model.Licenses.Count == 0">
        <td colspan="5" style="text-align:center">Nessuna licenza presente</td>
    </tr>
</table>
<br />
<div>
    <a asp-action="PrecompiledNew" asp-controller="License" asp-route-id="@Model.ApplicationVersion.Id"><input type="button" value="Nuova" /></a>
</div>