@model IndexClientModel
@{
    ViewData["Title"] = "Clienti";
}
<div id="explorerLink">
    Clienti
</div>
<h1>Clienti</h1>
<br />
<div asp-if="Model.Error != 0">
    <label class="error_lbl" asp-if="Model.Error == 1">Errore, cliente inesistente.</label>
    <label class="error_lbl" asp-if="Model.Error == 2">Impossibile cancellare un cliente a cui sono associate una o più applicazioni.</label>
</div>
<table class="table">
    <tr style="font-weight:bold;">
        <td>Codice</td>
        <td>Nome</td>
        <td>Partiva I.V.A</td>
        <td>Applicazioni</td>
        <td>Azioni</td>
    </tr>
    @foreach (var c in Model.Clients)
    {
        var apps = new List<string>();
        foreach(var lc in c.Licenses)
        {
            if (!apps.Contains(lc.ApplicationVersion.Application.Name))
            {
                apps.Add(lc.ApplicationVersion.Application.Name);
            }
        }
        <tr>
            <td><b>@c.Client.Code</b></td>
            <td><b><a asp-controller="Client" asp-action="Details" asp-route-id="@c.Client.Id">@c.Client.Name</a></b></td>
            <td>@c.Client.VAT</td>
            <td>@string.Join(", ", apps.ToArray())</td>
            <td>
                <span><a asp-controller="Client" asp-action="Edit" asp-route-id="@c.Client.Id">Modifica</a></span>
                <span><a asp-controller="Client" asp-action="Delete" asp-route-id="@c.Client.Id">Elimina</a></span>
            </td>
        </tr>
    }
    <tr asp-if="Model.Clients.Count == 0">
        <td colspan="5" style="text-align:center">Nessun cliente presente</td>
    </tr>
</table>
<div>
    <a asp-action="New" asp-controller="Client"><input type="button" value="Nuovo" /></a>
</div>