@model EditVersionApplicationGetModel
@{
    ViewData["Title"] = "Modifica " + Model.ApplicationVersion.Application.Name + " " + Model.ApplicationVersion.Version;
}
<div id="explorerLink">
    <a asp-controller="Application" asp-action="Index">Applicazioni</a>&nbsp;&nbsp;&gt;&nbsp;&nbsp;<a asp-controller="Application" asp-action="Versions" asp-route-id="@Model.ApplicationVersion.Application.Id">@Model.ApplicationVersion.Application.Name</a>&nbsp;&nbsp;&gt;&nbsp;&nbsp;<a asp-controller="License" asp-action="VersionLicenses" asp-route-id="@Model.ApplicationVersion.Id">@Model.ApplicationVersion.Version</a>&nbsp;&nbsp;&gt;&nbsp;&nbsp;Modifica
</div>
<h2>@Model.ApplicationVersion.Application.Name @Model.ApplicationVersion.Version - Modifica</h2>
<br />
<form asp-antiforgery="true" asp-route-id="@Model.ApplicationVersion.Id" autocomplete="off" style="width:350px;">
    <label style="margin-top:15px;">Note:</label>
    <textarea name="notes">@Model.ApplicationVersion.Notes</textarea>
    <br />
    <br />
    <br />
    <input type="submit" value="Modifica" />
</form>