@model IndexApplicationModel
@{
    ViewData["Title"] = "Applicazioni";
}
<div id="explorerLink">
    Applicazioni
</div>
<h2>Applicazioni</h2>
<br />
<table class="table">
    <tr style="font-weight:bold;">
        <td style="min-width:100px;">Codice</td>
        <td style="min-width:180px;">Nome</td>
        <td style="min-width:200px;">Versioni</td>
        <td>Azioni</td>
    </tr>
    @foreach (var a in Model.Applications)
    {
        <tr>
            <td><b>@a.Code</b></td>
            <td><a asp-controller="Application" asp-action="Versions" asp-route-id="@a.Id"><b>@a.Name</b></a></td>
            <td>@string.Join(", ", a.ApplicationVersions.Select(v => (v.GetVersion().Major + "." + v.GetVersion().Minor)).ToArray())</td>
            <td>
                <span><a asp-controller="Application" asp-action="Edit" asp-route-id="@a.Id">Modifica</a></span>
                <span><a asp-controller="Application" asp-action="Delete" asp-route-id="@a.Id">Elimina</a></span>
            </td>
        </tr>
    }
    <tr asp-if="Model.Applications.Count == 0">
        <td colspan="4" style="text-align:center">Nessuna applicazioni aggiunta</td>
    </tr>
</table>
<br />
<div>
    <a asp-action="new" asp-controller="application" ><input type="button" value="Nuova" /></a>
</div>