@model NewVersionApplicationGetModel
@{
    ViewData["Title"] = "Nuova Versione " + Model.Application.Name;
}

<div id="explorerLink">
    <a asp-controller="Application" asp-action="Index">Applicazioni</a>&nbsp;&nbsp;&gt;&nbsp;&nbsp;<a asp-controller="Application" asp-action="Versions" asp-route-id="@Model.Application.Id">@Model.Application.Name</a>&nbsp;&nbsp;&gt;&nbsp;&nbsp;Nuova Versione
</div>
<h2>@Model.Application.Name - Nuova Versione</h2>
<br />
<div asp-if="Model.Error != 0">
    <label class="error_lbl" asp-if="Model.Error == 1">Errore durante la procedura di inserimento, controllare di aver inserito tutti i dati richiesti.</label>
    <label class="error_lbl" asp-if="Model.Error == 2">Errore, applicazione di riferimento non trovata.</label>
    <label class="error_lbl" asp-if="Model.Error == 3">Errore, versione non valida.</label>
    <label class="error_lbl" asp-if="Model.Error == 4">Errore, questa versione è già presente per questa applicazione.</label>
</div>
<form asp-antiforgery="true" asp-controller="application" asp-action="NewVersion" asp-route-id="@Model.Application.Id" autocomplete="off" style="width:350px;">
    <label>Data Rilascio:</label>
    <input type="date" name="release" value="@(DateTime.Now.ToString("yyyy-MM-dd"))" />
    <br />
    <label>Versione:</label>
    <input type="text" name="major" style="width:55px;" onkeypress='return EnterOnlyNumber(event);' /><span style="margin: 0px 2px 0px 6px;">.</span>
    <input type="text" name="minor" style="width:55px;" onkeypress='return EnterOnlyNumber(event);' />
    <label>Note:</label>
    <textarea name="notes"></textarea>
    <br />
    <br />
    <input type="submit" value="Aggiungi" name="submit" style="margin-top:20px;" />
</form>