@model VersionsApplicationGetModel
@{
    ViewData["Title"] = Model.Application.Name;
}
<div id="explorerLink">
    <a asp-controller="Application" asp-action="Index">Applicazioni</a>&nbsp;&nbsp;&gt;&nbsp;&nbsp;@Model.Application.Name
</div>
<h2>@Model.Application.Name</h2>
<br />
<table class="table">
    <tr style="font-weight:bold;">
        <td>Versione</td>
        <td>Data di Rilascio</td>
        <td>Licenze Rilasciate</td>
        <td>Clienti Associati</td>
        <td>Note</td>
        <td>Azioni</td>
    </tr>
    @foreach (var v in Model.Application.ApplicationVersions)
    {
        <tr>
            <td><a asp-controller="License" asp-action="VersionLicenses" asp-route-id="@v.Id"><b>@v.Version</b></a></td>
            <td>@v.ReleaseDate.ToString("dd/MM/yyyy")</td>
            <td>@v.Licences.Count.ToString()</td>
            <td>@v.Licences.Select(l => l.Client).Distinct().ToList().Count.ToString()</td>
            <td>@v.Notes</td>
            <td>
                <span><a asp-controller="Application" asp-action="EditVersion" asp-route-id="@v.Id">Modifica</a></span>
                <span><a asp-controller="Application" asp-action="DeleteVersion" asp-route-id="@v.Id">Elimina</a></span>
            </td>
        </tr>
    }
    <tr asp-if="Model.Application.ApplicationVersions.Count == 0">
        <td colspan="6" style="text-align:center">Nessuna versione presente</td>
    </tr>
</table>
<br />
<div>
    <a asp-action="NewVersion" asp-controller="Application" asp-route-id="@Model.Application.Id"><input type="button" value="Nuova" /></a>
</div>