@model IndexOrderGetModel
@{
    ViewData["Title"] = "Commesse";
}
<div id="explorerLink">
    Commesse
</div>
<h2>Commesse</h2>
<br />
<div asp-if="Model.Error != 0">
    <label class="error_lbl" asp-if="Model.Error == 1">Errore, commassa inesistente.</label>
    <label class="error_lbl" asp-if="Model.Error == 2">Impossibile cancellare una commassa a cui è stata associata una lavorazione.</label>
</div>
<div style="text-align:right; margin: 0px 0px 30px 0px;">
    <a asp-action="New" asp-controller="Order"><input type="button" value="Nuovo" /></a>
    <form style="float:left;">
        <label style="width: 55px; display: inline-block; text-align:left;">Ordina:</label>
        <select id="orderby" name="orderby" style="margin: 0px !important; width:200px;">
            <option asp-selected="@(Model.OrderBy == "id")" value="id">Primo inserito</option>
            <option asp-selected="@(Model.OrderBy == "-id")" value="-id">Ultimo inserito</option>
            <option asp-selected="@(Model.OrderBy == "number")" value="number">Codice</option>
            <option asp-selected="@(Model.OrderBy == "name")" value="name">Nome</option>
            <option asp-selected="@(Model.OrderBy == "enddate")" value="name">Data Fine</option>
        </select>
    </form>
</div>
<table class="table">
    <tr style="font-weight:bold;">
        <td style="width:90px;">Numero</td>
        <td style="width:220px;">Nome</td>
        <td style="width:160px;">Cliente</td>
        <td style="width:100px;">Data Consegna</td>
        <td style="width:74px;">Fattura</td>
        <td style="width:74px;">In Lavoraz.</td>
        <td>Azioni</td>
    </tr>
    @foreach (var o in Model.Orders)
    {
        var aw = 0;
        if (o.Working != null && o.Working.State == WorkingState.Started)
        {
            aw = 1;
        }
        <tr>
            <td style="font-weight:bold;"><a asp-controller="Order" asp-action="Details" asp-route-id="@o.Id">@o.Number</a></td>
            <td>@o.Name</td>
            <td>@o.Client.Name</td>
            <td style="font-size: 11px;">@o.DeliveryDateTimeUtc.ToDateTimeCE().ToString("dd/MM/yy")</td>
            <td style="text-align:center;"><span style="vertical-align: middle;" class="led @(o.Invoice == null ? "red" : "green")"></span></td>
            <td style="text-align:center;"><span style="vertical-align: middle;" class="led @(aw == 0 ? "red" : "green")"></span></td>
            <td>
                <span asp-if="o.Working != null"><a asp-controller="Working" asp-action="Details" asp-route-id="@o.Working.Id">Lavorazione</a></span>
                <span asp-if="o.Working == null"><a asp-controller="Working" asp-action="New" asp-route-order="@o.Id">Lavora</a></span>
                <span><a asp-controller="Order" asp-action="Edit" asp-route-id="@o.Id">Modifica</a></span>
                <span><a asp-controller="Order" asp-action="Delete" asp-route-id="@o.Id">Rimuovi</a></span>
            </td>
        </tr>
    }
    <tr asp-if="Model.Orders.Count == 0">
        <td colspan="7" style="text-align:center">Nessun prodotto presente</td>
    </tr>
</table>